#loading-page{
    background-color: darkgreen;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: initial;
    //transition: width height 3s ease;
    //transition-delay: 3s;
}

.loaded #loader-wrapper{
    visibility: hidden;
    transition: all 0.3s 1s ease-out;
}

.loaded #loader{
    opacity: 0;
    transition: all 0.3s ease-out;
}

div.loaded{
    visibility: hidden;
    transition: all 0.3s ease-out;
}